@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input class="border border-2 outline-none"/>
    <button id="subBtn">Submit</button>
</div>
<script>
$("#subBtn").on("click", function() {
    $.ajax({
        url: "/api/GetStuff",
        type: "POST",
        data: {
            "name": $("#name").val()
        },
        success: function(data) {
            console.log(data);
        }
    });
    console.log("hello");
})


</script>