@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input id="num" class="border border-2 outline-none"/>
    <button id="subBtn">Submit</button>
</div>

<a href="/Home/RsaCrack?p=2&q=23">gamer</a>

<script>
$("#subBtn").on("click", function() {
    $.ajax({
        url: "/api/GetPrimes",
        type: "POST",
        data: {
            "inputNum": $("#num").val()
        },
        success: function(data) {
            console.log(data);
        }
    });
})



</script>