@{
    ViewData["Title"] = "Prime factorization";
}

<section class="text-gray-600 body-font h-min">
    <div class="container px-5 pt-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 dark:text-gray-50 mb-14">Prime Factorization</h1>


            <div class="w-full">
                <input id="num" placeholder="Input number to factorize" class="mb-4 dark:bg-gray-600 dark:bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border dark:border-gray-600 border-gray-300 focus:border-indigo-500 text-base outline-none dark:text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-3/5 mr-3"/>
                <button id="HEXToggle" onclick="" class="mb-6 text-white bg-indigo-500 border-0 py-2 px-2 focus:outline-none hover:bg-indigo-600 rounded text-lg"><span style="font-weight: bold;" id="Decimal">Decimal</span>&nbsp;|&nbsp;<span id="HEX">Hex</span></button>
            </div>
            <button id="subBtn" onclick="factorize()" class="mb-6 flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>


            <h1 id="failText" class="text-red-500 text-lg"></h1>

            <div class="w-full mt-6">
                <span class="text-2xl mr-3 dark:text-gray-100">p</span>
                <input id="p" placeholder="p" class="dark:bg-gray-600 dark:bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border dark:border-gray-600 border-gray-300 focus:border-indigo-500 text-base outline-none dark:text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-2/3"/>
            </div>
            <div class="w-full mt-6">
                <span class="text-2xl mr-3 dark:text-gray-100">q</span>
                <input id="q" placeholder="q" class="dark:bg-gray-600 dark:bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-indigo-900 rounded border dark:border-gray-600 border-gray-300 focus:border-indigo-500 text-base outline-none dark:text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out w-2/3"/>
            </div>
            <button class="rounded px-3 py-2 mt-4 inline-flex dark:text-gray-300 text-gray-600 dark:bg-gray-700 bg-gray-200 py-2 px-6 focus:outline-none dark:hover:bg-gray-600 hover:bg-gray-300 dark:hover:text-white rounded text-lg transition-colors duration-200 ease-in-out" onclick="sendToRSACrack()" id="redirectRSA">Send to RSA Cracker</button>


        </div>
    </div>
</section>


<script>
    $("#HEXToggle").click(function() {
        if($("#Decimal").css("font-weight") == 400) {
            $("#Decimal").css("font-weight", "bold");
            $("#HEX").css("font-weight", "normal");
        } else {
            $("#Decimal").css("font-weight", "normal");
            $("#HEX").css("font-weight", "bold");
        }
    });
    
    $("#num").bind('paste', function(e) {
        let data = e.originalEvent.clipboardData.getData('text');
        if (/[A-Za-z]/g.test(data)) {  // Check if pasted value is hex
            $("#Decimal").css("font-weight", "normal");
            $("#HEX").css("font-weight", "bold");
        }
        else{
            $("#Decimal").css("font-weight", "bold");
            $("#HEX").css("font-weight", "normal");
        }
    });
    
    $("#num").keypress(function(event) {
        if (event.keyCode === 13) {
            factorize();
        }
    });
    
    function sendToRSACrack() {
        let location = "/Home/RSACrack"
        let p = $("#p").val();
        let q = $("#q").val();
        if (p !== "" && q !== "") {
            location += `?p=${p}&q=${q}`;
        }
        window.location.href = location;
    }
    
    function factorize() {
        let num = $("#num").val();
        
        if (num.substring(0, 2) == "0x"){
            console.log("bruh");
            $("#Decimal").css("font-weight", "normal");
            $("#HEX").css("font-weight", "bold");
        }
        
        if (!num.match(/^[0-9]+$/g) && $("#Decimal").css("font-weight") == 700) {
            $("#failText").text("Please enter a number");
            return;
        }
        
        $.ajax({
            url: "/api/GetFactors",
            type: "POST",
            data: {
                "inputNum": num,
                "isHex": $("#HEX").css("font-weight") == 700
            },
            success: function(data) {
                console.log(data);
                if (data[0] == -1 || data[1] == -1) {
                    $("#failText").text("Invalid Input (could already be a prime number)");
                    $("#p").val("");
                    $("#q").val("");
                    return 
                }
                $("#failText").text("")
                $("#p").val(data[0]);
                $("#q").val(data[1]);
            }
        });
    }



</script>