@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input id="num" class="border border-2 outline-none"/>
    <button id="subBtn" onclick="factorize()">Submit</button>
    
    <h1 id="failText"></h1>
</div>
<div id="primeDiv" class="text-center" style="display: none">
    <p id="p"></p>
    <p id="q"></p>
    <a id="redirectRSA" href="/Home/RsaCrack?p=2&q=6">gamer</a>
</div>

<script>
    $("#num").keypress(function(event) {
        if (event.keyCode === 13) {
            factorize();
        }
    });
    
    function factorize() {
        let num = $("#num").val();
        if (!(num.match(/^[0-9]+$/))) {
            $("#failText").text("Please enter a number");
            return;
        }
        $.ajax({
            url: "/api/GetFactors",
            type: "POST",
            data: {
                "inputNum": num
            },
            success: function(data) {
                console.log(data);
                if (data[0] == -1 || data[1] == -1) {
                    console.log("fuck.. endnu en fejl")
                    $("#failText").text("yo makker der skete en fejl bare lige så du ved det");
                    $("#primeDiv").hide()
                    return 
                }
                console.log(data);
                $("#primeDiv").show()
                $("#p").text(data[0]);
                $("#q").text(data[1]);
                $("#redirectRSA").attr("href", "/Home/RsaCrack?p=" + data[0] + "&q=" + data[1]);
            }
        });
    }



</script>