@{
    ViewBag.Title = "Home";
    Layout = "_Layout";

    Dictionary<string, string>? descriptions = ViewData["Description"] as Dictionary<string, string>;
    ViewData["Description"] = "RSACrackstation.com is the all-in-one solution for cracking RSA, generating RSA keys, Prime Factorization, encrypting RSA and much more. ";
}

<h2>@descriptions?["crack"]</h2>
