@{
    ViewData["Title"] = "Home Page";
}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 mb-14">Prime Factorization</h1>


            <input id="num" placeholder="Input number to factorize" class="w-2/3 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:outline-none text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mb-6"/>
            <button id="subBtn" onclick="factorize()" class="mb-6 flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>

            <h1 id="failText" class="text-red-500 text-lg"></h1>

            <div class="w-full mt-6">
                <span class="text-2xl mr-3">p</span>
                <input id="p" placeholder="P" class="w-2/3 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:outline-none text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mb-6"/>
            </div>
            <div class="w-full">
                <span class="text-2xl mr-3">q</span>
                <input id="q" placeholder="Q" class="w-2/3 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:outline-none text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mb-6"/>
            </div>
            <button onclick="sendToRSACrack()" id="redirectRSA">Send to RSA Cracker</button>

        </div>
    </div>
</section>


<script>
    $("#num").keypress(function(event) {
        if (event.keyCode === 13) {
            factorize();
        }
    });
    
    function sendToRSACrack() {
        window.location.href = "/Home/RSACrack?p=" + $("#p").val() + "&q=" + $("#q").val();
    }
    
    function factorize() {
        let num = $("#num").val();
        if (!(num.match(/^[0-9]+$/) || num == 0)) {
            $("#failText").text("Please enter a number");
            return;
        }
        $.ajax({
            url: "/api/GetFactors",
            type: "POST",
            data: {
                "inputNum": num
            },
            success: function(data) {
                console.log(data);
                if (data[0] == -1 || data[1] == -1) {
                    $("#failText").text("Invalid Input (could already be a prime number)");
                    return 
                }

                $("#failText").text("")
                $("#p").val(data[0]);
                $("#q").val(data[1]);
                
            }
        });
    }



</script>