@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script>
let params = new URLSearchParams(location.search);
let p = params.get('p')
let q = params.get('q')

console.log(p)
console.log(q)

function crackRSA() {
        $.ajax({
            url: "/api/RSACrack",
            type: "POST",
            data: {
                "inputNum": "skørt"
            },
            success: function(data) {
               
            }
        });
    }

</script>